*{
	box-sizing:border-box;
}

header{
    display: flex;
    justify-content: center;
    padding: 5%;
}

.button{
    justify-content: flex-end;
}


body{
    background-color: #efe1c7;
}

main{
    display:flex;
    background-color: #000000;
    color: #efe1c7;
    padding: 5%;
}

.season1{
    body{
        background-color: #f5dbdc;
        color: #e5699e;
    }
    main{
        background-color: #e5699e;
        color: #f5dbdc;
    }
}

.season2{
    body{
        background-color: #dde35f;
        color: #304a0c;
    }
    main{
        background-color: #304a0c;
        color: #dde35f;
    }
}

.season3{
    body{
        background-color: #f58e03;
        color: #f5dbdc;
    }
    main{
        background-color: #f5dbdc;
        color: #f58e03;
    }
}

.season4{
    body{
        background-color: #e5699e;
        color: #dde35f;
    }
    main{
        background-color:#dde35f;
        color: #e5699e;
    }
}

.season5{
    body{
        background-color: #304a0c;
        color: #f5dbdc;
    }
    main{
        background-color:#304a0c;
        color: #f5dbdc;
    }
}